 *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
            display: flex;
            align-items: flex-start;
            /* justify-content: space-evenly; */
            height: 100vh;
            /* flex-wrap: wrap; */
            padding: 50px;
            gap: 20px;
            background: #9193b4;
        }
        table{
            background: white;
            padding: 10px;
            border-spacing: 0;
            /* width: fit-content; */
            width: 100%;
            border-radius: 20px;
        }
        table tr:first-child{
            background-color: yellow;
            padding: 10px;
        }
        table tr th,table tr td{
            padding: 10px;
        }
        table tr td:nth-child(2){
            text-align: center;

        }
        table tr td{
            border-bottom: 1px solid black;
            
        }
        table tr td.item{
            display: flex;
            gap: 15px;
        }
        table tr td.item .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
        }
        table tr td.item .content .name{
            font-weight: 600;
        }
        table tr td.item img{
            width: 75px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            padding: 5px;
        }
        table tr td .stockNumber{
            display: flex;
            width: max-content;
            /* background: red; */
            border-radius: 20px;
            /* justify-content: center; */
            gap: 10px;
            display: flex;
            /* border: 2px solid green; */
            justify-content: center;
            align-items: center;
            /* float: right; */
            margin: auto;
        
        }
        table tr td .stockNumber button{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: none;
            font-size: 1.3em;
            color: #fff;
            background: var(--clr);
        }
        table tr td .options{
            display: flex;
            gap: 15px;
            /* background: red; */
            /* align-items: center; */
            height: 100%;
            justify-content: center;
        }
        table tr td .options button{
            width: 30px;
            height: 30px;
            border: 1px solid var(--clr);
            color: var(--clr);
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            background: #fff;
            padding: 20px;
            border-radius: 20px;
        }
        form input,form button{
            height: 35px;
            border-radius: 40px;
            border: 1px solid #000;
            padding-left: 10px;
        }
        form button{
            background: red;
            font-size: 1.1em;
            color: #fff;
            border: none;
            box-shadow: 0 0 10px red;
        }
        @media (max-width: 786px) {
            body{ 
                flex-direction: column;
                       }
            form{
                width: 100%;
            }
            
        }