 *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
            height: 100vh;
            /* display: flex; */
            width: 100%;
            /* align-items: center; */
            /* justify-content: center; */
            padding: 10px;
        }
        .container{
            display: flex;
            width: 100%;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .container .user{
            box-shadow: 0 0 10px black;
            padding: 10px;
            width: 325px;
            border-radius: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-height: max-content;   
        }

        .container .user .basicD{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .container .user .basicD img{
            width: 75px;
            position: relative;
        }
        .container .user .basicD img::after{
            content: '1';
            position: absolute;
            top: 0;
            left: 0;
            background: #000;
        }

        .container .user .basicD .content .name{
            font-weight: 600;
        }
        .container .user .basicD .content .email{
            font-size: 0.8em;
            color: rgba(0, 0, 0, 0.5);
        }
        .container .user .phone{
            /* position: absolute;
            top: 10px;
            right: 10px; */
            background: #000;
            color: #fff;
            padding: 5px;
            text-decoration: none;
            width: max-content;
            border-radius: 20px;
        }
        
       

        table{
            height: max-content;
            border-spacing: 0;
            border-color: orangered;
            width: 100%;
        }
        
        table th,table td{
            padding: 5px;
            text-wrap: wrap;
            /* text-wrap-mode: ; */
        }
        table td a{
            background: black;
            color: white;
            text-align: center;
            padding: 5px;
            text-decoration: none;
            border-radius: 10px;
        }
        @media (max-width:700px) {
            .container .user{
                width: 100%;
            }
            
        }